/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

:root {
  /* Font */
  --default-font: 'Noto Sans', sans-serif;
  /* --default-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* --default-font: 'Poppins', sans-serif; */
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: --default-font;
  font-size: 1.6rem;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
